.zoo .mainnav.uk-navbar-container {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
}
.zoo .mainnav .uk-navbar-nav>li>a {
    height: 60px;
    position: relative;
    color:rgba(255,255,255,0.8);
}
.zoo .mainnav .uk-navbar-nav>li.active>a {
    color:#fff;
}
.zoo .mainnav .uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: right;
    transition-property: right;
}
.zoo .mainnav .uk-navbar-nav>li>a:hover::before,.mainnav .uk-navbar-nav>li.active>a::before {
    right:15px;
}

.zoo .subnav .uk-navbar-nav>li>a
{
    height: 40px;
    padding: 0 15px;
    font-size: .775rem;
}

.zoo .uk-table-small td, .uk-table-small th {
    padding: 4px 6px;
}

.zoo .uk-table-striped thead tr+tr {
    border-top: 1px solid #e5e5e5;
}


.zoo .element_name .element_alias {
    margin-left: 40px;
    margin-top:5px!important;
}

.zoo .element_name .element_alias .uk-input {
    height: 25px;
    font-size: 90%;
    padding-left:6px;
}

.zoo .element_name .element_alias .uk-input:not(:focus) {

}

.zoo .uk-table-small td, .uk-table-small th {
    padding: 2px 5px;
}

.zoo .nestable {
    margin:0;
    list-style: none;
    padding:5px;
    border:1px dotted #eee;
}
.zoo .nestable>li+li {
    padding-top:5px;
}
.zoo .nestable>li>.nestable-panel  {
    padding:5px 10px;
    border:1px solid #eee;
}

.zoo .nestable .nestable {
    margin-left:40px;
    margin-top:5px;
}
.zoo .nestable .nestable.uk-sortable-empty {
    min-height: 36px;
}


.zoo table tr:first-child a[data-up] {
    display: none;
}

.zoo table tr:last-child a[data-down] {
    display: none;
}

.zoo tr.filters td input,.widgets tr.filters td {
    padding:0;
}
.zoo tr.filters td input,.widgets tr.filters td select {
    border:none;
    width:100%;
    display:block;
    padding:0 5px;
    background: #eff8fd;
    height: 27px;
    border-right: 1px solid #fff;
}